streamlit
torch
torchaudio
numpy
pydub
ffmpeg-python
audiocraft @ git+https://github.com/facebookresearch/audiocraft.git
av
einops
flashy
hydra-core
hydra_colorlog
julius
num2words
sentencepiece
spacy
huggingface_hub
tqdm
transformers
xformers
demucs
librosa
gradio
torchmetrics
encodec
