streamlit
torch>=2.0.0
torchaudio>=2.0.0
numpy
pydub
ffmpeg-python
audiocraft @ git+https://github.com/facebookresearch/audiocraft.git
av
einops
flashy>=0.0.1
hydra-core>=1.1
hydra_colorlog
julius
num2words
sentencepiece
spacy==3.5.2
huggingface_hub
tqdm
transformers>=4.31.0
xformers
demucs
librosa
gradio
torchmetrics
encodec
